asgiref==3.11.1
beautifulsoup4==4.14.3
Django==6.0.5
django-bootstrap4==26.1
django-crispy-forms==2.6
django-widget-tweaks==1.5.1
django-bootstrap4==26.1
MarkupSafe==3.0.3
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
Werkzeug==3.0.1